@charset "UTF*8";

*  {
    background: black;
}

header  {
    color: white;
    text-align: center;
}

img {
    width: 200px;
    height: 250px;
}

table {
    display: grid;
    place-items: center;
}
