@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    background-color: aqua;
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;
    place-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

section#info {
    background-color: blue;
    height: 35vh;
    max-height: 450px;
    width: 35vw;
    max-width: 300px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.247);
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.247);;
    padding: 5px;
}

section#info>h1 {
    color: white;
    text-align: center;
    padding-bottom: 10px;
    margin-top: 30px;
    font-size: 1.2em;
}
section#info li {
    color: white;
    list-style: none;
    margin: 10px;
}

span {
    width: 30px;
    overflow: hidden;
    vertical-align: middle;
}

div#central {
    padding: 30px;
    
}

section#login {
    background-color: white;
    height: 35vh;
    max-height: 450px;
    width: 35vw;
    max-width: 300px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.247);
}

section#login h2 {
    text-align: center;
    padding: 40px;
}

div#campo input {
    margin-left: 5px;
    width: 70%;
    height: 30px;
}

section input[type=submit] {
    display: block;
    font-size: 1em;
    width: 70%;
    height: 40px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 40px;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.349)
}

section input[type=submit]:hover {
    background-color: rgb(7, 7, 175);
    margin-top: 9px;
    transition: 0.3s;
}